* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.morseCodeContainer {
  background-color: aqua;
  width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.morseCodeContainer h1 {
  text-align: center;
  margin: 5% 0;
}
.morseCodeContainer__inputField {
  width: 90%;
  height: 30px;
  padding: 2% 0;
  margin: 5% 0;
}
.morseCodeContainer__submit, .morseCodeContainer__reset {
  display: inline;
  width: 30%;
  padding: 2% 0;
  margin: 5% 0;
}
.morseCodeContainer__display {
  width: 90%;
  height: 30vh;
  background-color: white;
  padding: 2% 0;
  margin: 5% 0;
}

.footer {
  height: 5vh;
}