* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.translate {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 5%;
}

.morseCodeContainer {
  width: 300px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed 4px black;
  padding: 5%;
}
.morseCodeContainer h1 {
  text-align: center;
  margin: 5% 0;
}
.morseCodeContainer__inputField {
  width: 90%;
  height: 30px;
  padding: 2% 0;
  margin: 5% 0;
  border: dashed 2px grey;
}
.morseCodeContainer__submit, .morseCodeContainer__reset {
  display: inline;
  width: 100%;
  padding: 10px;
  margin: 5% 0;
  border: solid 1px black;
}
.morseCodeContainer__submit {
  grid-area: 1/1/2/2;
}
.morseCodeContainer__reset {
  grid-area: 1/2/2/3;
}
.morseCodeContainer__display {
  width: 90%;
  height: 100%;
  padding: 2% 0;
  margin: 15% 0 5% 0;
  border: dashed 2px grey;
  overflow-y: scroll;
}

.morseCodeContainer__Decrypt {
  grid-area: 2/1/3/3;
  border: solid 1px black;
}

.footer {
  width: 90%;
}
.footer-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  border-top: 2px solid black;
}
.footer-contents ul a {
  text-decoration: none;
  color: black;
}

.MorseToEnglishBox {
  width: 300px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed 4px black;
  padding: 5%;
}
.MorseToEnglishBox h1 {
  text-align: center;
  margin: 5% 0;
}
.MorseToEnglishBox__inputField {
  width: 90%;
  height: 30px;
  padding: 2% 0;
  margin: 5% 0;
  border: dashed 2px grey;
}
.MorseToEnglishBox__submit {
  display: inline;
  width: 100%;
  padding: 10px;
  margin: 5% 0;
  grid-area: 1/1/2/2;
  border: solid 1px black;
}
.MorseToEnglishBox #MorseToEnglishBox__reset {
  display: inline;
  width: 100%;
  padding: 10px;
  margin: 5% 0;
  grid-area: 1/2/2/3;
  border: solid 1px black;
}
.MorseToEnglishBox__display {
  width: 90%;
  height: 100%;
  padding: 2% 0;
  margin: 15% 0 5% 0;
  border: dashed 2px grey;
  overflow-y: scroll;
}
.MorseToEnglishBox__encrypt {
  grid-area: 2/1/3/3;
  border: solid 1px black;
}

.footer {
  width: 90%;
}
.footer-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
  margin: 3%;
  border-top: 2px solid black;
}
.footer-contents ul a {
  text-decoration: none;
  color: black;
}

.absolute {
  position: absolute;
  z-index: -1;
}

.invisibleBackground {
  display: none;
}

.background {
  text-align: justify;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

.backgroundMorse {
  text-align: justify;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

.buttonDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.morseCodeContainer {
  background-color: white;
}
.morseCodeContainer h1 {
  font-family: "Special Elite", cursive;
}
.morseCodeContainer__inputField {
  font-family: "Special Elite", cursive;
}
.morseCodeContainer__submit, .morseCodeContainer__reset {
  background-color: white;
  font-family: "Special Elite", cursive;
}
.morseCodeContainer__submit:hover {
  background-color: #c2c2c2;
}
.morseCodeContainer__reset:hover {
  background-color: #c2c2c2;
}
.morseCodeContainer__display {
  font-family: "Special Elite", cursive;
}

.morseCodeContainer__Decrypt {
  background: white;
  font-family: "Special Elite", cursive;
}

.morseCodeContainer__Decrypt:hover {
  background-color: #c2c2c2;
}

.footer-contents ul a {
  text-decoration: none;
  color: black;
}

.MorseToEnglishBox {
  background-color: white;
}
.MorseToEnglishBox h1 {
  font-family: "Special Elite", cursive;
}
.MorseToEnglishBox__inputField {
  font-family: "Special Elite", cursive;
}
.MorseToEnglishBox__submit {
  font-family: "Special Elite", cursive;
  background: white;
}
.MorseToEnglishBox__submit:hover {
  background-color: #c2c2c2;
}
.MorseToEnglishBox #MorseToEnglishBox__reset {
  font-family: "Special Elite", cursive;
  grid-area: 1/2/2/3;
  background: white;
}
.MorseToEnglishBox #MorseToEnglishBox__reset:hover {
  background-color: #c2c2c2;
}
.MorseToEnglishBox__display {
  background-color: white;
  border: dashed 2px grey;
  font-family: "Special Elite", cursive;
}
.MorseToEnglishBox__encrypt {
  font-family: "Special Elite", cursive;
  background: white;
}
.MorseToEnglishBox__encrypt:hover {
  background-color: #c2c2c2;
}

.footer {
  width: 90%;
}
.footer-contents {
  background-color: white;
  font-family: "Special Elite", cursive;
}
.footer-contents ul a {
  text-decoration: none;
  color: black;
}

.background {
  font-family: "Special Elite", cursive;
  opacity: 0.4;
}

.backgroundMorse {
  font-family: "Special Elite", cursive;
  opacity: 0.4;
}