body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.translate {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.morseCodeContainer {
  h1 {
    text-align: center;
    margin: 5% 0;
  }

  width: 300px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed 4px black;
  padding: 5%;

  &__inputField {
    width: 90%;
    height: 30px;
    padding: 2% 0;
    margin: 5% 0;
    border: dashed 2px grey;
  }

  &__submit,
  &__reset {
    display: inline;
    width: 100%;
    padding: 10px;
    margin: 5% 0;
    border: solid 1px black;
  }

  &__submit {
    grid-area: 1/1/2/2;
 
  }
  &__reset {
    grid-area: 1/2/2/3;
   
  }

  &__display {
    width: 90%;
    height: 100%;
    padding: 2% 0;
    margin: 15% 0 5% 0;
    border: dashed 2px grey;
  }
}

.morseCodeContainer__Decrypt {
  grid-area: 2/1/3/3;
  border: solid 1px black;
}

.footer {
  &-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-top: 2px solid black;

    ul a {
      text-decoration: none;
      color: black;
    }
  }

  width: 90%;
}

// styling the second box
.MorseToEnglishBox {
  h1 {
    text-align: center;
    margin: 5% 0;
  }
  width: 300px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed 4px black;
  padding: 5%;

  &__inputField {
    width: 90%;
    height: 30px;
    padding: 2% 0;
    margin: 5% 0;
    border: dashed 2px grey;
  }

  &__submit {
    display: inline;
    width: 100%;
    padding: 10px;
    margin: 5% 0;
    grid-area: 1/1/2/2;
    border: solid 1px black;
  }

  #MorseToEnglishBox__reset {
    display: inline;
    width: 100%;
    padding: 10px;
    margin: 5% 0;
    grid-area: 1/2/2/3;
    border: solid 1px black;
  }

  &__display {
    width: 90%;
    height: 100%;
    padding: 2% 0;
    margin: 15% 0 5% 0;
    border: dashed 2px grey;
  }

  &__encrypt {
    grid-area: 2/1/3/3;
    border: solid 1px black;
  }
}

.footer {
  &-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    margin: 3%;
    border-top: 2px solid black;

    ul a {
      text-decoration: none;
      color: black;
    }
  }

  width: 90%;
}

// the offscreen toggle

.absolute {
  position: absolute;
  z-index: -1;
}

.background {
  text-align: justify;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

.buttonDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
