body {
  background-color: red;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;


}



.morseCodeContainer {

  h1 {
    text-align: center;
    margin: 5% 0;
  }

  background-color: aqua;
  width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__inputField {
    width: 90%;
    height: 30px;
    padding: 2% 0;
    margin: 5% 0;
  }

  &__submit,
  &__reset {
    display: inline;
    width: 30%;
    padding: 2% 0;
    margin: 5% 0;
  }

  ;

  &__display {
    width: 90%;
    height: 30vh;
    background-color: white;
    padding: 2% 0;
    margin: 5% 0;
  }

  ;
}

.footer {

  &-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-top: 2px solid black;


    ul a {
      text-decoration: none;
      color: black;

    }

    ;

  }

  width: 90%;

}